body {
    color: orangered;
    background-color: transparent;
    text-align: center;
  }
  
  .jumbotron { 
      position: relative;
      padding:0 !important;
      margin-top:70px !important;
      background: #eee;
      margin-top: 23px;
      text-align:center;
      margin-bottom: 0 !important;
  
  }
  
  
  p {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color:blue;
  }
  
  card {
    background-color:blue;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
  }
  
  form-group{
    color:blue;
    font-size: 25px;
  }
  
  radio-button{
    color:blue;
  }
  
  card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    text-align: center;
  }


  
  
  
  
    
  